{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1>Chat with
        {% for user in chat.users %}
            {% if user.id != app.user.id %}
                {{ user }}
            {% endif %}
        {% endfor %}
    </h1>

    {# <a href="{{ path('app_my_chats')}}">Back to my chats</a> #}
    <main class="chats">
        <aside>
            <ul>
                {% for chat in chats %}
                    <li class="notif2">
                        <a href="{{ path('app_chat_view', {'id': chat.id}) }}">
                            {% for user in chat.users %}
                                {% if user.id != app.user.id %}
                                    <img src="{{ asset('images/moi.jpg') }}">
                                    {{ user }}
                                {% endif %}
                            {% endfor %}
                        </a>
                        {# <span>{{ chat.getUnreadMessagesCount(app.user) }}</span> #}
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <section>
            <ul id="message-list">
                {% for message in chat.messages %}
                    <li class="notif2">
                        <strong>{{ message.userMessage.username }}</strong>: {{ message.content }}
                        {# {% if chat.users.contains(message.userMessage) %}
                            <a href="{{ path('app_kick_user', {'id': chat.id, 'userId': message.userMessage.id}) }}">Kick user</a>
                        {% endif %} #}
                    </li>
                {% endfor %}
            </ul>
            <form id="my-form" action="{{ path('app_send_message', {'id': chat.id}) }}" method="post" data-chat-id="{{ chat.id }}">
                <input type="text" name="content" required>
                <button type="submit">Send</button>
            </form>
        </section>
    </main>

    {# <p>Ajouter des amis</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Invite user</button>
    {{ form_end(form) }} #}

<style>
    main.chats {
        height: 50vh;
        display: flex;
        width: 90%;
    }

    main.chats section p {
        text-align: center;
        margin-top: 100px;
        opacity: 0.5;
    }

    main.chats aside {
        width: 300px;
        border: 1px solid #cccccc49;
        height: 100%;
    }

    main.chats aside ul li a {
        border-bottom: 1px solid #cccccc49;
        padding: 15px;
        text-decoration: none;
        width: 100%;
    }

    main.chats aside ul li a:hover {
        background-color: #88888813;
    }

    main.chats section {
        width: 700px;
        border: 1px solid #cccccc49;
        height: 100%;
    }

    .notif2 {
        display: flex;
        gap: 10px;
    }

    .notif2 img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .notif2 span {
        height: 20px;
        width: 20px;
        background-color: red;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Envoyer le formulaire en utilisant AJAX
        const form = document.querySelector('#my-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);

            fetch(this.action, {
                method: 'POST',
                body: formData,
            })
            .then(function(response) {
                if (!response.ok) {
                    throw new Error('Error: ' + response.statusText);
                }
                return response.json();
            })
            .then(function(data) {
                console.log(data);

                // Vider le champ content
                form.elements['content'].value = '';
            })
            .catch(function(error) {
                console.error(error);
            });
        });
    
        const pathParts = new URL(form.action).pathname.split('/');
        const chatId = pathParts[pathParts.length - 2];
        const url = new URL('https://localhost/.well-known/mercure');
        url.searchParams.append('topic', 'http://localhost:8000/chat/' + chatId);
    
        const eventSource = new EventSource(url);
        console.log(url);
        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
    
            const messageList = document.getElementById('message-list');
            const newMessage = document.createElement('li');

            const userName = document.createElement('strong');
            userName.textContent = data.user;
            newMessage.appendChild(userName);

            newMessage.append(': ' + data.message);
            messageList.appendChild(newMessage);
        };
    });
    
</script>

{% endblock %}